@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  background-color: #FCFCFD;
  background-image: radial-gradient(#E7E8EC 1px, transparent 1px);
  background-size: 24px 24px;
}
